/*body {*/
/*    background-color: #222121;*/
/*}*/
/*.navbar-expand-lg {*/
/*    background-color: #202020;*/
/*}*/
/*.navbar-light {*/
/*    background-color: #2b2929;*/
/*}*/
/*#button {*/
/*    background-color: #222121;*/
/*    border-color: ghostwhite;*/
/*    color: white;*/
/*}*/
/*#type-in {*/
/*    background-color: #222121;*/
/*}*/
/*#nav-color {*/
/*    color: white;*/
/*}*/
/*#current {*/
/*    color: white;*/
/*}*/
body{
    background: rgba(4,0,1,1);
}
.navbar{
    background: rgba(4,0,1,1);
}


.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,1,14,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.jumbotron{
    background: url("img/groot.jpg") no-repeat center rgba(4,0,1,1);
    height: 30em;
}

/*.card{*/
/*    height: 20em;*/
/*    width: 10em;*/

/*}*/

#movie-container{
   display: flex;
    justify-content: center;
    align-content: center;

}

.form-container{
    margin: 0 8em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
}

/*.slider {*/
/*    display: flex;*/
/*}*/

/*.slider .card {*/
/*    flex: 1;*/
/*    margin: 0 10px;*/
/*    height: 20em;*/
/*}*/

#submitEdit {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* modal style: "https://sabe.io/tutorials/how-to-create-modal-popup-box" */

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    visibility: hidden;

}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}